.reaction-bar {
    display: flex;
}

.reactions {
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    overflow-x: scroll;
}

.add-new-reaction-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    width: 38px;
}

.reaction-menu-item {
    display: inline-block;
}

.reaction-button {
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    padding: 2px;
    font-size: 10pt;
    color: #cccccc;
    text-align: center;
}

.reaction-emoji-image {
    height: 32px;
    width: 32px;
}

.selected-reaction-button {
    box-shadow: 0 0 0 1pt #663333 inset;
    color: #663333;
    font-weight: bold;
}

/* Override Bootstrap style */
.dropdown-menu {
    min-width: 218px;
}

.hacker-reaction {
    margin-top: 15px;
}

.hacker-reaction-addon, .hacker-reaction-input, .hacker-reaction-button {
    background-color: black;
    color: lightgreen;
}

.hacker-reaction-addon {
    border-right: none;
}

.hacker-reaction-input {
    border-left: none;
}