.create-post-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;
}

.post {
  padding: 20px;
  box-shadow: 2px 2px 2px 2px #dddddd;
  margin-bottom: 12px;
}

.post-header {
  display: flex;
  padding-bottom: 10px;
}

.post-author-avatar {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.post-author-name-and-timestamp {
  display: inline-block;
}

.post-author-name {
  font-size: 20px;
}

.post-timestamp {
  color: #aaaaaa;
  position: relative;
  top: -6px;
}

.post-body-rating-image {
  height: 64px;
  width: 76px;
}

.post-body {
  display: flex;
  padding-bottom: 10px;
}

.post-body-comment {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}

.post-actions {
  border-top: 1px solid #663333;
  padding-top: 10px;
  font-size: 16pt;
}

.post-like-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-like-button-icon {
  margin-right: 5px;
}

.infinite-scroll-loader {
  text-align: center;
}

.infinite-scroll-loader-image {
  height: 40px;
  width: 40px;
  overflow: hidden;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}