.create-post-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1;
}

.post {
  padding: 20px;
  box-shadow: 2px 2px 2px 2px #dddddd;
  margin-bottom: 12px;
}

.post-header {
  padding-bottom: 10px;
}

.post-author-avatar {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.post-author-name {
  display: inline-block;
  font-size: 20px;
}

.post-timestamp {
  display: inline-block;
  color: #aaaaaa;
}

.post-body-rating-image {
  height: 64px;
  width: 76px;
}

.post-body {
  display: flex;
  padding-bottom: 10px;
}

.post-body-comment {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}

.post-actions {
  border-top: 1px solid #663333;
  padding-top: 10px;
  font-size: 16pt;
}

.post-like-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-like-button-icon {
  margin-right: 5px;
}